html, body{
     width:100%;
     height:100%;
     margin:0;
     padding:0;
     border:0;
     outline:0;
     background:#ffffff;
     font-family:"Open Sans", Arial, "Helvetica Neune", "sans-serif";
     font-size:14px;
     color:#646464;
     line-height:1.5;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     text-decoration:none;
}
.MaviAlanMenusu a:link, .MaviAlanMenusu a:hover, .MaviAlanMenusu a:active, .MaviAlanMenusu a:visited{
     font-family:"Open Sans", Arial, "Helvetica Neune", "sans-serif";
     font-size:14px;
     color:#ffffff;
     line-height:1.5;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     text-decoration:none;
}
.AnaMenu a:link, .AnaMenu a:hover, .AnaMenu a:active, .AnaMenu a:visited{
     font-family:"Open Sans", Arial, "Helvetica Neune", "sans-serif";
     font-size:14px;
     color:#646464;
     line-height:1.5;
     font-style:normal;
     font-variant:normal;
     font-weight:bold;
     text-decoration:none;
}
.AltMenu a:link, .AltMenu a:hover, .AltMenu a:active, .AltMenu a:visited{
     font-family:"Open Sans", Arial, "Helvetica Neune", "sans-serif";
     font-size:14px;
     color:#646464;
     line-height:1.5;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     text-decoration:none;
}
.SonucSayfalari a:link, .SonucSayfalari a:hover, .SonucSayfalari a:active, .SonucSayfalari a:visited{
     font-family:"Open Sans", Arial, "Helvetica Neune", "sans-serif";
     font-size:14px;
     color:#646464;
     line-height:1.5;
     font-style:normal;
     font-variant:normal;
     font-weight:normal;
     text-decoration:none;
}
.InputAlanlari{
     width: 95%;
     height: 30px;
     padding: 0px 10px;
}
.SelectAlanlari{
     width: 100%;
     height: 40px;
     padding: 0px 10px;
}
.TextAreaAlanlari{
     width: 95%;
     height: 100px;
     padding: 10px 10px;
}
.YesilButon{
     height: 30px;
     border: 1px solid #00FF00;
     background: #009900;
     padding: 5px 30px;
     color: #ffffff;
}
.YesilButon:hover{
     height: 30px;
     border: 1px solid #009900;
     background: #00FF00;
     padding: 5px 30px;
     color: black;
     cursor: pointer;
}
.KargoTakipInputu{
     width: 75%;
     height: 30px;
     padding: 0px 10px;
     text-align: center;
     font-weight: bold;
     font-size: 16px;
}
.KargoTakipButonu{
     height: 30px;
     border: 1px solid #CCCCCC;
     background: #FF9900;
     padding: 5px 50px;
     color: #ffffff;
}
.KargoTakipButonu:hover{
     height: 30px;
     border: 1px solid #000000;
     background: #CCCCCC;
     padding: 5px 50px;
     color: black;
     cursor: pointer;
}
